* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  font-size: 3rem;
    font-family: 'Inter', sans-serif; 
    font-weight: 2000;
}

.inputScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  text-align: center;

  /* Flexbox for centering */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input {
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0.5rem 6rem;
  height: 70px;
  width: 300px;
}

.studyTime {
    font-size: 9rem;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;
}

.button {
  color: rgb(0, 0, 0);
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0.5rem 6rem;
  transition: all 0.3s ease;
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  width: 450px;
  height: 350px;
  text-align: center;

  /* Flexbox for centering */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#input{
  height: 75px;
}

#titleStudyTime {
  color: rgb(206, 206, 206);
}

#plus30{
  font-size: 2rem;
  height: 100px;
  width: 300px;
  padding: 0.5rem 2rem
}

#start{
  height: 70px;
  width: 300px;
  font-size: 1.5rem;
}

#timeButton {
    color: rgb(187, 187, 187);
    font-size: 2.25rem;
    font-family: 'Archivo Black', sans-serif; 
    font-weight: 100;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 50px;
    width: 230px;
    margin-bottom: -10px;
    transition: background-color 0.3s ease;
}

#timeButton:hover {
    font-size: 1.5rem;
    color: white;
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
}






